recursive-include MoeaBench/diagnostics/resources *.json
recursive-include MoeaBench/diagnostics/resources/references *
include MoeaBench/requirements.txt
include README.md
include LICENSE
include CITATION.cff
